.d3 svg {
	font: 10pt Arial;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background-color: white;
}

.d3 path,
.d3 line {
	fill: none;
	stroke: #000;
}

.d3 text {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.d3-shape:hover {
	stroke: black;
	stroke-width: 2px;
	fill-opacity: 0.75;
}

.d3-legend {
	font-size: 10pt;
}

.d3-legend-title {
	font-weight: bold;
}

.d3-arc path {
	stroke: none;
}


/*----- Axis & Grid -----*/
.d3-axis {
	font-size: 10pt;
}

.d3-grid line {
	stroke: #aaa;
}

.d3-grid line {
	stroke: lightgrey;
	stroke-opacity: 0.7;
	shape-rendering: crispEdges;
}

.d3-grid path {
	stroke-width: 0;
}

.d3-axis-x-label,
.d3-axis-y-label {
	font-size: 11pt;
	fill: black;
}


/*----- MAP CHART -----*/
.d3-map .d3-shape {
	fill: rgb(235, 235, 235);
	stroke: white;
	stroke-width: 2px;
}

.d3-map-district .d3-shape,
.d3-map-commune .d3-shape {
	stroke-width: 1px;
}

.d3-map-active:hover {
	stroke: #000;
	stroke-width: 2px;
	fill-opacity: 0.5;
}

.d3-map .d3-shape.selected {
	stroke: red;
	stroke-width: 2px;
}

.d3-map .d3-shape-boundary {
	fill: none;
	stroke: #3a403d;
}

.d3-map .place,
.place-label {
  	pointer-events: none;
}

.d3-map .place-label {
	font-size: .7em;
	text-shadow: 0px 0px 2px #fff;
}


/*----- BAR CHART -----*/

.barchart .line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
}



/*----- LINE CHART -----*/
.linechart .line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
}




/*----- TOOLTIPS -----*/
.d3-tooltip-container {
	position: fixed !important;
	background: rgb(240, 240, 240);
	padding: 10px;
	border: 2px solid rgb(226, 132, 55);
	border-radius: 7px;
	pointer-events: none;
	font-size: 10pt;
}

.d3-tooltip td:nth-child(1) {
	text-align: right;
}

.d3-tooltip td:nth-child(2) {
	text-align: left;
	font-weight: bold;
}
